
{{!-- view to add a new post --}}

<h2>Fill below form to add a new post</h2>

<form class="form add-post-form">
      
        <label for="post_title">Enter post title:</label>
        <input class="form-input" type="text" id="post_title" />
      
      <label for="post_body">Enter post body:</label>
        <input class="form-input" type="text" id="post_body" />

        <button class="btn" id="add-post-btn" type="submit">Publish New Post</button>
      
</form>
<script src="/js/add-post.js"></script>